<a href="https://colab.research.google.com/github/MFRoz1/IntelligoCompetition/blob/main/intelligo%20ara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cust = pd.read_csv("/content/df_Customers.csv")
order = pd.read_csv("/content/df_Orders.csv")
item = pd.read_csv("/content/df_OrderItems.csv")
payment = pd.read_csv("/content/df_Payments.csv")
product = pd.read_csv("/content/df_Products.csv")

In [ ]:
print(cust)

        customer_id  customer_zip_code_prefix       customer_city  \
0      hCT0x9JiGXBQ                     58125     varzea paulista
1      PxA7fv9spyhx                      3112  armacao dos buzios
2      g3nXeJkGI0Qw                      4119             jandira
3      EOEsCQ6QlpIg                     18212          uberlandia
4      mVz5LO2Vd6cL                     88868            ilhabela
...             ...                       ...                 ...
89311  bfJtzkBGksdY                     94060              amparo
89312  4hjsCpj6FC7g                     99835             itapevi
89313  DLn56oKHl9bv                      2540           sao paulo
89314  auSfRYUQUOIq                     12288            paulinia
89315  rhevVNXYJnEs                     93048            brasilia

      customer_state
0                 SP
1                 RJ
2                 SP
3                 MG
4                 SP
...              ...
89311             SP
89312             SP
89313             SP
89314             SP
89315             DF

[89316 rows x 4 columns]

In [ ]:
print(order)

           order_id   customer_id order_status order_purchase_timestamp  \
0      Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-10-22 18:57:54
1      v6px92oS8cLG  PxA7fv9spyhx    delivered      2018-06-20 21:40:31
2      Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered      2018-02-16 16:19:31
3      bwJVWupf2keN  EOEsCQ6QlpIg    delivered      2018-08-18 18:04:29
4      Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered      2017-12-22 16:44:04
...             ...           ...          ...                      ...
89311  zlcLnXGgAabl  bfJtzkBGksdY    delivered      2018-08-19 17:25:36
89312  IlTAoIkILwrq  4hjsCpj6FC7g    delivered      2017-12-15 11:20:27
89313  uA6oXfftGVmT  DLn56oKHl9bv    delivered      2018-07-24 06:39:14
89314  v3QtU6xlGDJp  auSfRYUQUOIq    delivered      2018-08-11 08:04:22
89315  Xo1fqyXOC6CR  rhevVNXYJnEs    delivered      2018-06-09 21:46:58

         order_approved_at order_delivered_timestamp  \
0      2017-10-22 19:14:13       2017-10-26 22:19:52
1      2018-06-20 22:20:20       2018-07-03 22:51:22
2      2018-02-17 16:15:35       2018-02-27 01:29:50
3      2018-08-18 18:15:16       2018-08-27 20:03:51
4      2017-12-22 17:31:31       2018-01-05 19:22:49
...                    ...                       ...
89311  2018-08-21 04:35:30       2018-08-30 14:47:46
89312  2017-12-16 02:37:32       2017-12-20 19:23:40
89313  2018-07-24 11:20:39       2018-07-27 01:41:40
89314  2018-08-11 08:24:40       2018-08-14 21:43:51
89315  2018-06-09 22:19:00       2018-06-14 15:03:46

      order_estimated_delivery_date
0                        2017-11-09
1                        2018-07-24
2                        2018-03-08
3                        2018-09-19
4                        2018-01-18
...                             ...
89311                    2018-09-04
89312                    2018-01-04
89313                    2018-08-01
89314                    2018-08-17
89315                    2018-07-05

[89316 rows x 7 columns]

In [ ]:
print(item)

           order_id    product_id     seller_id    price  shipping_charges
0      Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF   223.51             84.65
1      v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs   170.80             23.79
2      Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD    64.40             17.38
3      bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf   264.50             30.72
4      Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr   779.90             30.66
...             ...           ...           ...      ...               ...
89311  zlcLnXGgAabl  W8vikEizUggJ  2QjevWskirjm    31.99            188.65
89312  IlTAoIkILwrq  KXSbyJWtMMwZ  BFS9XJPapWv0   282.00              1.64
89313  uA6oXfftGVmT  EG4wDSpFyTth  TuPm19CMKvrM    58.10              4.09
89314  v3QtU6xlGDJp  ZWyg4uNWPHjJ  yGbPyLPc8PmT  2899.00            113.01
89315  Xo1fqyXOC6CR  5pbzE0rDy61l  mkWN70fui2ro    37.88             70.06

[89316 rows x 5 columns]

In [ ]:
print(product)

         product_id     product_category_name  product_weight_g  \
0      90K0C1fIyQUf                      toys             491.0
1      qejhpMGGVcsl             watches_gifts             440.0
2      qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3      639iGvMyv0De                      toys            1450.0
4      1lycYGcsic2F                      toys             300.0
...             ...                       ...               ...
89311  W8vikEizUggJ                      toys             700.0
89312  KXSbyJWtMMwZ                      toys             600.0
89313  EG4wDSpFyTth             health_beauty             250.0
89314  ZWyg4uNWPHjJ                      toys             250.0
89315  5pbzE0rDy61l                      toys            1750.0

       product_length_cm  product_height_cm  product_width_cm
0                   19.0               12.0              16.0
1                   18.0               14.0              17.0
2                   16.0               16.0              16.0
3                   68.0                3.0              48.0
4                   17.0                4.0              12.0
...                  ...                ...               ...
89311               21.0               14.0              14.0
89312               16.0               16.0              16.0
89313               22.0               10.0              18.0
89314               16.0                2.0              11.0
89315               32.0               18.0              24.0

[89316 rows x 6 columns]

In [ ]:
print(payment)

           order_id  payment_sequential payment_type  payment_installments  \
0      Axfy13Hk4PIk                   1  credit_card                     1
1      v6px92oS8cLG                   1  credit_card                     8
2      Ulpf9skrhjfm                   1  credit_card                     4
3      bwJVWupf2keN                   1  credit_card                     2
4      Dd0QnrMk9Cj5                   1  credit_card                     1
...             ...                 ...          ...                   ...
89311  zlcLnXGgAabl                   1       wallet                     1
89312  IlTAoIkILwrq                   1       wallet                     1
89313  uA6oXfftGVmT                   1  credit_card                     1
89314  v3QtU6xlGDJp                   1      voucher                     1
89315  Xo1fqyXOC6CR                   1  credit_card                    10

       payment_value
0             259.14
1             382.39
2             249.25
3              27.79
4              76.15
...              ...
89311         128.00
89312         106.86
89313         376.39
89314          48.05
89315         211.93

[89316 rows x 5 columns]

In [ ]:
order.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
dtype: int64

In [ ]:
new = pd.DataFrame(item[['shipping_charges']]).join(order[['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp','order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date']])

In [ ]:
print(new)

       shipping_charges      order_id   customer_id order_status  \
0                 84.65  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered
1                 23.79  v6px92oS8cLG  PxA7fv9spyhx    delivered
2                 17.38  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered
3                 30.72  bwJVWupf2keN  EOEsCQ6QlpIg    delivered
4                 30.66  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered
...                 ...           ...           ...          ...
89311            188.65  zlcLnXGgAabl  bfJtzkBGksdY    delivered
89312              1.64  IlTAoIkILwrq  4hjsCpj6FC7g    delivered
89313              4.09  uA6oXfftGVmT  DLn56oKHl9bv    delivered
89314            113.01  v3QtU6xlGDJp  auSfRYUQUOIq    delivered
89315             70.06  Xo1fqyXOC6CR  rhevVNXYJnEs    delivered

      order_purchase_timestamp    order_approved_at order_delivered_timestamp  \
0          2017-10-22 18:57:54  2017-10-22 19:14:13       2017-10-26 22:19:52
1          2018-06-20 21:40:31  2018-06-20 22:20:20       2018-07-03 22:51:22
2          2018-02-16 16:19:31  2018-02-17 16:15:35       2018-02-27 01:29:50
3          2018-08-18 18:04:29  2018-08-18 18:15:16       2018-08-27 20:03:51
4          2017-12-22 16:44:04  2017-12-22 17:31:31       2018-01-05 19:22:49
...                        ...                  ...                       ...
89311      2018-08-19 17:25:36  2018-08-21 04:35:30       2018-08-30 14:47:46
89312      2017-12-15 11:20:27  2017-12-16 02:37:32       2017-12-20 19:23:40
89313      2018-07-24 06:39:14  2018-07-24 11:20:39       2018-07-27 01:41:40
89314      2018-08-11 08:04:22  2018-08-11 08:24:40       2018-08-14 21:43:51
89315      2018-06-09 21:46:58  2018-06-09 22:19:00       2018-06-14 15:03:46

      order_estimated_delivery_date
0                        2017-11-09
1                        2018-07-24
2                        2018-03-08
3                        2018-09-19
4                        2018-01-18
...                             ...
89311                    2018-09-04
89312                    2018-01-04
89313                    2018-08-01
89314                    2018-08-17
89315                    2018-07-05

[89316 rows x 8 columns]

## Missing Values

In [ ]:
new.isna().sum()

shipping_charges                    0
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
dtype: int64

In [ ]:
new_drop = new.dropna()

In [ ]:
new_drop.isna().sum()

shipping_charges                 0
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
dtype: int64

## Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
#Mendefinisikan nilai unique dari masing masing kolom yang akan di encodimg
col = sorted(new_drop['order_status'].unique().tolist())
print(col)

['canceled', 'delivered']

In [ ]:
# Mengubah kolom menggunakan OneHotEncoder
ohe = OneHotEncoder(handle_unknown = 'ignore')
encod = pd.DataFrame(ohe.fit_transform(new_drop[['order_status']]).toarray(), columns = col)
encod

       canceled  delivered
0           0.0        1.0
1           0.0        1.0
2           0.0        1.0
3           0.0        1.0
4           0.0        1.0
...         ...        ...
87413       0.0        1.0
87414       0.0        1.0
87415       0.0        1.0
87416       0.0        1.0
87417       0.0        1.0

[87418 rows x 2 columns]

In [ ]:
from datetime import datetime

In [ ]:
new_drop1 = pd.DataFrame(new_drop)

In [ ]:
new_drop1["order_delivered_timestamp"] = pd.to_datetime(new_drop1["order_delivered_timestamp"])
new_drop1["order_estimated_delivery_date"] = pd.to_datetime(new_drop1["order_estimated_delivery_date"])

new_drop1["is_late"] = new_drop1["order_delivered_timestamp"] > new_drop1["order_estimated_delivery_date"]

print(new_drop1)

       shipping_charges      order_id   customer_id order_status  \
0                 84.65  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered
1                 23.79  v6px92oS8cLG  PxA7fv9spyhx    delivered
2                 17.38  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered
3                 30.72  bwJVWupf2keN  EOEsCQ6QlpIg    delivered
4                 30.66  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered
...                 ...           ...           ...          ...
89311            188.65  zlcLnXGgAabl  bfJtzkBGksdY    delivered
89312              1.64  IlTAoIkILwrq  4hjsCpj6FC7g    delivered
89313              4.09  uA6oXfftGVmT  DLn56oKHl9bv    delivered
89314            113.01  v3QtU6xlGDJp  auSfRYUQUOIq    delivered
89315             70.06  Xo1fqyXOC6CR  rhevVNXYJnEs    delivered

      order_purchase_timestamp    order_approved_at order_delivered_timestamp  \
0          2017-10-22 18:57:54  2017-10-22 19:14:13       2017-10-26 22:19:52
1          2018-06-20 21:40:31  2018-06-20 22:20:20       2018-07-03 22:51:22
2          2018-02-16 16:19:31  2018-02-17 16:15:35       2018-02-27 01:29:50
3          2018-08-18 18:04:29  2018-08-18 18:15:16       2018-08-27 20:03:51
4          2017-12-22 16:44:04  2017-12-22 17:31:31       2018-01-05 19:22:49
...                        ...                  ...                       ...
89311      2018-08-19 17:25:36  2018-08-21 04:35:30       2018-08-30 14:47:46
89312      2017-12-15 11:20:27  2017-12-16 02:37:32       2017-12-20 19:23:40
89313      2018-07-24 06:39:14  2018-07-24 11:20:39       2018-07-27 01:41:40
89314      2018-08-11 08:04:22  2018-08-11 08:24:40       2018-08-14 21:43:51
89315      2018-06-09 21:46:58  2018-06-09 22:19:00       2018-06-14 15:03:46

      order_estimated_delivery_date  is_late
0                        2017-11-09    False
1                        2018-07-24    False
2                        2018-03-08    False
3                        2018-09-19    False
4                        2018-01-18    False
...                             ...      ...
89311                    2018-09-04    False
89312                    2018-01-04    False
89313                    2018-08-01    False
89314                    2018-08-17    False
89315                    2018-07-05    False

[87418 rows x 9 columns]

In [ ]:
fix = {"is_late" : {False : 0, True : 1}}
fixed = new_drop1.replace(fix)

# yang ini hasilnya ji :

In [ ]:
print(fixed)

       shipping_charges      order_id   customer_id order_status  \
0                 84.65  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered
1                 23.79  v6px92oS8cLG  PxA7fv9spyhx    delivered
2                 17.38  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered
3                 30.72  bwJVWupf2keN  EOEsCQ6QlpIg    delivered
4                 30.66  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered
...                 ...           ...           ...          ...
89311            188.65  zlcLnXGgAabl  bfJtzkBGksdY    delivered
89312              1.64  IlTAoIkILwrq  4hjsCpj6FC7g    delivered
89313              4.09  uA6oXfftGVmT  DLn56oKHl9bv    delivered
89314            113.01  v3QtU6xlGDJp  auSfRYUQUOIq    delivered
89315             70.06  Xo1fqyXOC6CR  rhevVNXYJnEs    delivered

      order_purchase_timestamp    order_approved_at order_delivered_timestamp  \
0          2017-10-22 18:57:54  2017-10-22 19:14:13       2017-10-26 22:19:52
1          2018-06-20 21:40:31  2018-06-20 22:20:20       2018-07-03 22:51:22
2          2018-02-16 16:19:31  2018-02-17 16:15:35       2018-02-27 01:29:50
3          2018-08-18 18:04:29  2018-08-18 18:15:16       2018-08-27 20:03:51
4          2017-12-22 16:44:04  2017-12-22 17:31:31       2018-01-05 19:22:49
...                        ...                  ...                       ...
89311      2018-08-19 17:25:36  2018-08-21 04:35:30       2018-08-30 14:47:46
89312      2017-12-15 11:20:27  2017-12-16 02:37:32       2017-12-20 19:23:40
89313      2018-07-24 06:39:14  2018-07-24 11:20:39       2018-07-27 01:41:40
89314      2018-08-11 08:04:22  2018-08-11 08:24:40       2018-08-14 21:43:51
89315      2018-06-09 21:46:58  2018-06-09 22:19:00       2018-06-14 15:03:46

      order_estimated_delivery_date  is_late
0                        2017-11-09        0
1                        2018-07-24        0
2                        2018-03-08        0
3                        2018-09-19        0
4                        2018-01-18        0
...                             ...      ...
89311                    2018-09-04        0
89312                    2018-01-04        0
89313                    2018-08-01        0
89314                    2018-08-17        0
89315                    2018-07-05        0

[87418 rows x 9 columns]

In [ ]:
import pandas as pd
from datetime import datetime

# Sample DataFrame
data = {'date_column1': ['2023-09-29', '2023-09-30', '2023-10-01'],
        'date_column2': ['2023-09-28', '2023-09-30', '2023-10-02']}

df = pd.DataFrame(data)

# Convert the date strings to datetime objects
df['date_column1'] = pd.to_datetime(df['date_column1'])
df['date_column2'] = pd.to_datetime(df['date_column2'])

# Now, you can compare the dates
df['date_comparison'] = df['date_column1'] > df['date_column2']

# Print the DataFrame to see the results
print(df)

  date_column1 date_column2  date_comparison
0   2023-09-29   2023-09-28             True
1   2023-09-30   2023-09-30            False
2   2023-10-01   2023-10-02            False

### Nyoba Rek

In [ ]:
test_order = pd.read_csv("/content/test_Orders.csv")

In [ ]:
print(test_order)

           order_id   customer_id order_purchase_timestamp  \
0      u6rPMRAYIGig  I74lXDOfoqsp      2017-11-18 12:29:57
1      ohY8f4FEbX19  47TuLHF2s7X5      2018-06-02 17:13:12
2      I28liQek73i2  dQ0dqI8Qwlj8      2018-01-08 11:01:30
3      bBG1T89mlY8W  iQCmWhNkIczb      2017-03-10 10:24:46
4      CYxJJSQS8Lbo  Dp2g6JH8tO5Z      2017-12-02 10:04:07
...             ...           ...                      ...
38274  QKBW3XKevmfn  Dw3aCTFf4Q4G      2018-08-24 11:54:56
38275  Tjiw9bj8HtLr  JmHJqJvpVcJs      2017-03-25 20:39:11
38276  mCPofb7A1aTq  ro5DikwWCC3j      2018-08-16 13:39:30
38277  scVuqN10zbgb  R25nE2rl77AU      2018-06-27 13:17:05
38278  oLKXX8tqU6eQ  oOvkrmF7ZZbI      2017-09-08 09:22:24

         order_approved_at
0      2017-11-18 12:46:08
1      2018-06-02 20:12:23
2      2018-01-09 07:24:03
3      2017-03-10 10:24:46
4      2017-12-05 04:13:30
...                    ...
38274  2018-08-24 12:05:22
38275  2017-03-25 20:50:17
38276  2018-08-17 03:31:06
38277  2018-06-28 08:50:58
38278  2017-09-08 09:35:20

[38279 rows x 4 columns]

In [ ]:
testing = test_order.merge(fixed, on="customer_id", how="inner")

print(testing)

Empty DataFrame
Columns: [order_id_x, customer_id, order_purchase_timestamp_x, order_approved_at_x, shipping_charges, order_id_y, order_status, order_purchase_timestamp_y, order_approved_at_y, order_delivered_timestamp, order_estimated_delivery_date, is_late]
Index: []